@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
html{
    /* margin:0;
    padding: 0; */
    box-sizing: border-box;
    height: 100%;
}
body{
    font-family: "Lato", sans-serif;
    background-image: url('assets/asset11.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    /* margin-left:0; */
    text-decoration: none;  
    /* margin-right: 18px; */
    margin-top: 20px;
    padding: 10px;
    margin-inline-start: 0;
    color: black;
    justify-items: left;
    border-radius: 5px;
    /* box-shadow: 0px 0px 15px 15px rgba(255, 255, 255, 0.2); */

}

.top-nav{
    background-color:transparent;
    position: fixed;
    top: 8px;
    width: 100%;
}

a:hover{
    background-color: #63656756;
}